/* Base Body Styles Applied Across Project */
body {
	margin: 0;
	padding: 0;
	background-image: url(../images/texture/canvas.gif);
	background-size: 200px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: neue-haas-unica, sans-serif;
	line-height: 1
}

html {
  font-size: 16px;
}

#container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 15px 15px 0;
	position: relative;
}

/* Base Styles */
.base__hed {
	font-size: 38px;
	font-style: italic;
	font-weight: 700;
	overflow: hidden;
	position: relative;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.base__hed span {
	background-image: url(../images/texture/texture-dark-fill.gif);
	background-size: 200px;
	background-position: 0 12px;
	background-repeat: repeat-x;
	color: #f5ead3;
	display: inline;
	padding: 0 10px;
}

.base__body h1,
.base__body h2,
.base__body h3,
.base__body h4,
.base__body h5,
.base__body h6 {
	font-weight: 700;
	line-height: 1.15;
	margin: 1em 0 .35em;
}

.base__body h1 {
	font-size: 28px;
}

.base__body h2 {
	font-size: 24px;
}

.base__body h3 {
	font-size: 20px;
}

.base__body h4 {
	font-size: 18px;
}

.base__body h5 {
	font-size: 16px;
}

.base__body h6,
.base__body p {
	font-size: 14px;
}

.base__body p {
	margin: 0 0 1em;
	line-height: 1.3;
}

.base__body ol,
.base__body ul {
	margin: 1rem 0 1rem 1.5rem;
}

.base__body ul {
	list-style: disc;
}

.base__body ol {
	list-style-type: decimal;
}

.base__body li {
	margin: .5em 0;
}

.base__body b,
.base__body strong,
.base__body th {
	font-weight: 700;
}

.base__body em,
.base__body i {
	font-style: italic;
}

.base__body picture img {
	max-width: none;
	width: 100%;
}

.base__body>:first-child {
	margin-top: 0;
}

.base__body>:last-child {
	margin-bottom: 0;
}

.base__body:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (min-width:1050px) {
	.base__body ol,
	.base__body ul {
		margin: 1.5rem 0 1rem 3.5rem;
	}
	.base__body li {
		margin: .75em 0;
	}
}


@media screen and (min-width:600px) {
	.base__hed {
		font-size: 45px;
	}
	.base__body h1 {
		font-size: 36px;
	}
	.base__body h2 {
		font-size: 32px;
	}
	.base__body h3 {
		font-size: 28px;
	}
	.base__body h4 {
		font-size: 24px;
	}
	.base__body h5 {
		font-size: 20px;
	}
	.base__body h6 {
		font-size: 16px;
	}
	.base__body ol,
	.base__body ul {
		margin: 1rem 0 1rem 40px;
	}
}

@media screen and (min-width:768px) {
	.base__hed {
		font-size: 50px;
	}
	.base__body {
		padding: 30px;
		font-size: 18px;
	}
	.base__body p {
		font-size: 18px;
	}
}

@media screen and (min-width:980px) {
	.base__hed {
		font-size: 65px;
	}
	.base__body h1 {
		font-size: 48px;
	}
	.base__body h2 {
		font-size: 44px;
	}
	.base__body h3 {
		font-size: 40px;
	}
	.base__body h4 {
		font-size: 36px;
	}
	.base__body h5 {
		font-size: 32px;
	}
	.base__body h6 {
		font-size: 28px;
	}
	.base__body p {
		font-size: 19px;
	}
	/* .base__body .alignwide {
		margin-left: -2em;
		margin-right: -2em;
		max-width: none;
		width: calc(100% + 4em);	
	} */
}

@media screen and (min-width:1200px) {
	.base__hed {
		font-size: 70px;
	}
	.base__body h1 {
		font-size: 55px;
	}
	.base__body h2 {
		font-size: 48px;
	}
	.base__body h3 {
		font-size: 44px;
	}
	.base__body h4 {
		font-size: 40px;
	}
	.base__body h5 {
		font-size: 36px;
	}
	.base__body h6 {
		font-size: 32px;
	}
}